<div class="container-fluid " style="margin-top: 40px;">
    <div class="row flex-nowrap">
     
    
    
      <%- include ('./partials/sidebar') %>

     

        <div class="col py-3 " >
            <div class="container py-5 w-100">


                <ul class="list-group list-group-light">

                    <li class="list-group-item border-0 d-flex"> 
                        <div class="row w-100 d-flex ">
                        <div class="col-md-9 flex-start"> 
                       <h6 class="fw-bold mb-1" style="margin-left: 10px;">12 Mars 2022</h6>
                       <div class="d-flex" style="margin-left: 10px;">
                       <img class="rounded-circle shadow-1-strong me-3"
                       src="https://i.ibb.co/brXj56P/avatar-removebg-preview.png"  alt="avatar" width="60"
                         height="60" />
                         <i class="far fa-comment-dots fa-xl" style="margin-right: 40px;margin-top: 9px;"></i>


                       <div>
                         <p class="mb-0" style="margin-top: 20px;">
                           Amal Maatoug a commenté le cours  <a href="">Machine learning</a>
                         </p>
                       </div>
                       </div>
                        </div>
                    <div class="col-md-3  ">
                     <a class=" dropdown-toggle hidden-arrow" role="button"
                     data-mdb-toggle="dropdown"
                     aria-expanded="false">
                     <i class="fas fa-ellipsis fa-xl" style="margin-top: 50px; color: black;margin-left: 90%;"></i>
                     </a>
                     <ul class="dropdown-menu dropdown-menu-end">
                     <li>
                       <a class="dropdown-item" href="#">Afficher</a>
                     </li>
                     <li>
                       <a class="dropdown-item" href="#" style="color: red;">Supprimer</a>
                     </li>
                   </ul>
                   </div>
                        </div>
               
               </li>




                <li class="list-group-item border-0 d-flex"> 
                    <div class="row w-100 d-flex ">
                    <div class="col-md-9 flex-start"> 
                   <h6 class="fw-bold mb-1" style="margin-left: 10px;">12 Mars 2022</h6>
                   <div class="d-flex" style="margin-left: 10px;">
                   <img class="rounded-circle shadow-1-strong me-3"
                   src="https://i.ibb.co/brXj56P/avatar-removebg-preview.png"  alt="avatar" width="60"
                     height="60" />
                     <i class="fas fa-reply fa-xl" style="margin-right: 40px;margin-top: 9px;"></i>


                   <div>
                     <p class="mb-0" style="margin-top: 20px;">
                       Amal Maatoug a répondu au commentaire de  <a href="">John Smith</a>
                     </p>
                   </div>
                   </div>
                    </div>
                <div class="col-md-3  ">
                 <a class=" dropdown-toggle hidden-arrow" role="button"
                 data-mdb-toggle="dropdown"
                 aria-expanded="false">
                 <i class="fas fa-ellipsis fa-xl" style="margin-top: 50px; color: black;margin-left: 90%;"></i>
                 </a>
                 <ul class="dropdown-menu dropdown-menu-end">
                 <li>
                   <a class="dropdown-item" href="#">Afficher</a>
                 </li>
                 <li>
                   <a class="dropdown-item" href="#" style="color: red;">Supprimer</a>
                 </li>
               </ul>
               </div>
                    </div>
           
           </li>



            <li class="list-group-item border-0 d-flex"> 
                <div class="row w-100 d-flex ">
                <div class="col-md-9 flex-start"> 
               <h6 class="fw-bold mb-1" style="margin-left: 10px;">12 Mars 2022</h6>
               <div class="d-flex" style="margin-left: 10px;">
               <img class="rounded-circle shadow-1-strong me-3"
               src="https://i.ibb.co/brXj56P/avatar-removebg-preview.png"  alt="avatar" width="60"
                 height="60" />
                 <i class="far fa-thumbs-up fa-xl" style="margin-right: 40px;margin-top: 9px;"></i>


               <div>
                 <p class="mb-0" style="margin-top: 20px;">
                   Amal Maatoug a aimé le commentaire de  <a href="">John Smith</a>
                 </p>
               </div>
               </div>
                </div>
            <div class="col-md-3  ">
             <a class=" dropdown-toggle hidden-arrow" role="button"
             data-mdb-toggle="dropdown"
             aria-expanded="false">
             <i class="fas fa-ellipsis fa-xl" style="margin-top: 50px; color: black;margin-left: 90%;"></i>
             </a>
             <ul class="dropdown-menu dropdown-menu-end">
             <li>
               <a class="dropdown-item" href="#">Afficher</a>
             </li>
             <li>
               <a class="dropdown-item" href="#" style="color: red;">Supprimer</a>
             </li>
           </ul>
           </div>
                </div>
       
       </li>

            <li class="list-group-item border-0 d-flex"> 
                <div class="row w-100 d-flex ">
                <div class="col-md-9 flex-start"> 
               <h6 class="fw-bold mb-1" style="margin-left: 10px;">12 Mars 2022</h6>
               <div class="d-flex" style="margin-left: 10px;">
               <img class="rounded-circle shadow-1-strong me-3"
               src="https://i.ibb.co/brXj56P/avatar-removebg-preview.png"  alt="avatar" width="60"
                 height="60" />
                 <i class="far fa-comment-dots fa-xl" style="margin-right: 40px;margin-top: 9px;"></i>


               <div>
                 <p class="mb-0" style="margin-top: 20px;">
                   Amal Maatoug a commenté le cours  <a href="">Python pour les débutants</a>
                 </p>
               </div>
               </div>
                </div>
            <div class="col-md-3  ">
             <a class=" dropdown-toggle hidden-arrow" role="button"
             data-mdb-toggle="dropdown"
             aria-expanded="false">
             <i class="fas fa-ellipsis fa-xl" style="margin-top: 50px; color: black;margin-left: 90%;"></i>
             </a>
             <ul class="dropdown-menu dropdown-menu-end">
             <li>
               <a class="dropdown-item" href="#">Afficher</a>
             </li>
             <li>
               <a class="dropdown-item" href="#" style="color: red;">Supprimer</a>
             </li>
           </ul>
           </div>
                </div>
       
       </li>


                     <li class="list-group-item border-0 d-flex"> 
                         <div class="row w-100 d-flex ">
                         <div class="col-md-9 flex-start"> 
                        <h6 class="fw-bold mb-1" style="margin-left: 10px;">12 Mars 2022</h6>
                        <div class="d-flex" style="margin-left: 10px;">
                        <img class="rounded-circle shadow-1-strong me-3"
                        src="https://i.ibb.co/brXj56P/avatar-removebg-preview.png"  alt="avatar" width="60"
                          height="60" />
                          <i class="fas fa-reply fa-xl" style="margin-right: 40px;margin-top: 9px;"></i>


                        <div>
                          <p class="mb-0" style="margin-top: 20px;">
                            Amal Maatoug a répondu au commentaire de  <a href="">John Smith</a>
                          </p>
                        </div>
                        </div>
                         </div>
                     <div class="col-md-3  ">
                      <a class=" dropdown-toggle hidden-arrow" role="button"
                      data-mdb-toggle="dropdown"
                      aria-expanded="false">
                      <i class="fas fa-ellipsis fa-xl" style="margin-top: 50px; color: black;margin-left: 90%;"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end">
                      <li>
                        <a class="dropdown-item" href="#">Afficher</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#" style="color: red;">Supprimer</a>
                      </li>
                    </ul>
                    </div>
                         </div>
                
                </li>
            
            

                  </ul>
                </div>
            </div>






</div>
</div>










</div>
</div>



<%- include('./partials/footer') %>