<div class="container-fluid " style="margin-top: 40px;">
    <div class="row flex-nowrap">
     
    
    
      <%- include ('./partials/sidebar') %>

     

        <div class="col py-3 " >
            <div class="container py-5 w-100">


             




</div>
</div>










</div>
</div>



<%- include('./partials/footer') %>